@import "/styles/_common.scss";

@import "/libs/FullSection/full-screen.scss";
@import "/styles/layouts/loading.style.scss";
@import "/styles/utils/_breakpoints.scss";

.header {
	padding: 0 1.09375rem;
	height: 3.5rem;
	width: calc(var(--view-width, 1vw) * 100);
	margin: 0 auto;
}

.footer {
	// height of header
	height: calc((var(--view-height, 1vh) * 100) - 4rem);
}

/**/
// MAIN LAYOUTS
/**/

.fs__wrapper {
	margin: 0 auto;
}

.section {
	&--hero,
	&--cover,
	&--explode,
	&--tagline {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		place-items: center;
		place-content: center;

		& img,
		& video {
			height: 100%;
		}
	}

	&--tagline video {
		width: viewWidth(100);
		height: viewHeight(100);
		object-fit: cover;
	}
}

.solutions,
.blog {
	& {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		place-items: center;
		place-content: center;

		background: linear-gradient(225deg, gray, rgba(black, 50%));
	}

	&__header {
		display: flex;
		min-width: 250px;
		width: 100%;
		padding: 0 10%;

		flex-direction: column;
		flex-wrap: wrap;

		place-items: flex-start;
		justify-content: center;
		row-gap: 1rem;

		line-height: 1.35;
	}

	&__subtitle {
		font-size: viewSize(6);
	}

	&__title {
		font-size: viewSize(3.3);
	}
}

.story {
	& {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		place-items: center;
		place-content: center;
	}

	&__header {
		display: flex;
		min-width: 250px;
		width: 100%;
		padding: 0 10%;

		flex-direction: column;
		flex-wrap: wrap;

		place-items: center;
		justify-content: center;
		row-gap: 1rem;

		line-height: 1.35;

		z-index: 5;
	}

	&__title {
		color: white;
		font-size: viewSize(6);
	}

	&__cover {
		height: 100%;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.tagline {
	&,
	&__play,
	&__text,
	&__icon {
		padding: 0;
		margin: 0;
	}

	&__play {
		& {
			outline: 0;
			border: 0;
			stroke: none;
			box-shadow: none;
			cursor: pointer;
			background: transparent;
		}
		& {
			display: flex;
			width: 200px;
			height: 200px;

			flex-direction: column;
			row-gap: 24px;
			place-items: center;
			place-content: center;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			z-index: 9;

			border-radius: 999px;
			backdrop-filter: blur(9px);
			color: white;
			fill: white;
		}
	}

	&__text {
		display: inline-block;
		width: 55px;
		font-size: 2.5rem;
		margin-left: -20px;
	}

	&__icon {
		width: 96px;
		height: 96px;
		margin-left: -10px;
	}

	&__video {
		z-index: 8;
	}
}

.cover,
.explode {
	&__header {
		display: flex;
		width: 100%;
		height: 100%;
		padding: 10%;

		flex-direction: column;
		place-content: center;
		place-items: center;

		color: black;
	}

	&__title {
		font-size: viewSize(8);
		line-height: 1.3;
	}

	&__subtitle {
		display: block;
		font-size: viewSize(5.4);
		line-height: 1.3;
	}

	&__image,
	&__video {
		position: absolute;
		z-index: 1;
	}
}

.story {
	&__title {
		font-size: viewSize(8);
		line-height: 1.3;
	}

	&__subtitle {
		text-align: center;
		display: block;
		font-size: viewSize(5.4);
		line-height: 1.3;
	}

	&__background {
		display: block;
		position: absolute;
		background: transparent;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
	}
}

.cover,
.explode,
.solutions,
.story,
.blog {
	.word {
		&,
		&__inner {
			display: inline-block;
		}

		& {
			overflow: hidden;
		}

		&__inner {
			transform: translateY(100%);
			transition: 0.7s ease all;
		}
	}
}


.hero {
	&__header {
		display: flex;

		flex-direction: column;
		place-content: flex-end;
		place-items: flex-start;
		padding: 1.09375rem;

		position: absolute;
		top: 50%;
		left: 50%;
		width: viewWidth(100);
		height: viewHeight(100);
		transform: translate(-50%, -50%);
		overflow: hidden;
		z-index: 7;
	}

	&__title {
		display: flex;
		flex-wrap: wrap;
		height: viewSize(12);
		color: white;
		row-gap: 1rem;
		margin-bottom: 1.09375rem;

		& .word {
			display: block;
			width: 100%;
			font-size: viewSize(9);
		}
	}
}

.main {
	position: relative;
	top: var(--fs-wrapper-top);
	background-color: dimgrey;
	z-index: 10;
}

/**/
// MUSEUM LAYOUTS
/**/

:root {
	--angle1: 0deg;
	--angle2: -80deg;
	--angle3: -80deg;
	--angle4: -80deg;
}

.museum {
	position: relative;
	&__wrapper {
		width: 2580px;
		height: 1080px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.939815);
		overflow: hidden;
	}

	&__navigation {
		display: inline-block;
		color: white;

		position: absolute;
		height: 100%;
		width: viewSize(9);
		& svg {
			width: viewSize(6);
			height: viewSize(6);
		}
		z-index: 9;

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
		}

		border: 0;
		outline: 0;
		stroke: inherit;
		box-shadow: none;
		margin: 0;
		fill: white;
		padding: 0;
		background-color: transparent;
	}

	&__inner {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		transform-origin: center 66.66%;
		overflow: hidden;
		z-index: 8;
	}

	&__background img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	// &__doors {}

	&__door {
		& {
			position: absolute;
			top: 0px;
			left: 0px;
			transform-origin: center center;
			perspective-origin: center center;
			transform-style: preserve-3d;
		}

		&--1 {
			transform: perspective(2000px) translateZ(2000px) rotateY(var(--angle1))
				translateZ(-2000px);
		}

		&--2 {
			transform: perspective(2000px) translateZ(2000px) rotateY(var(--angle2))
				translateZ(-2000px);
		}

		&--3 {
			transform: perspective(2000px) translateZ(2000px) rotateY(var(--angle3))
				translateZ(-2000px);
		}

		&--4 {
			transform: perspective(2000px) translateZ(2000px) rotateY(var(--angle4))
				translateZ(-2000px);
		}
	}
}
