@import "/styles/_common.scss";

@import "/libs/FullSection/full-screen.scss";
@import "/styles/layouts/loading.style.scss";
@import "/styles/utils/_breakpoints.scss";

/**/
// MAIN LAYOUTS
/**/

.section {
	&--hero,
	&--cover,
	&--explode,
	&--tagline {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		place-items: center;
		place-content: center;

		& img,
		& video {
			height: 100%;
		}
	}
}

.solutions,
.blog {
	& {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		place-items: center;
		place-content: center;

		background: linear-gradient(225deg, gray, rgba(black, 50%));
	}

	&__header {
		display: flex;
		min-width: 250px;
		width: 100%;
		padding: 0 10%;

		flex-direction: column;
		flex-wrap: wrap;

		place-items: flex-start;
		justify-content: center;
		row-gap: 1rem;

		line-height: 1.35;
	}

	&__subtitle {
		font-size: viewSize(6);
	}

	&__title {
		font-size: viewSize(3.3);
	}
}

.story {
	& {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		place-items: center;
		place-content: center;
	}

	&__header {
		display: flex;
		min-width: 250px;
		width: 100%;
		padding: 0 10%;

		flex-direction: column;
		flex-wrap: wrap;

		place-items: flex-start;
		justify-content: center;
		row-gap: 1rem;

		line-height: 1.35;

		z-index: 5;
	}

	&__title {
		color: white;
		font-size: viewSize(6);
	}

	&__cover {
		height: 100%;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.tagline {
	&,
	&__play,
	&__text,
	&__icon {
		padding: 0;
		margin: 0;
	}

	&__play {
		& {
			outline: 0;
			border: 0;
			stroke: none;
			box-shadow: none;
			cursor: pointer;
			background: transparent;
		}
		& {
			display: flex;
			width: 200px;
			height: 200px;

			flex-direction: column;
			row-gap: 24px;
			place-items: center;
			place-content: center;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			z-index: 9;

			border-radius: 999px;
			backdrop-filter: blur(9px);
			color: white;
			fill: white;
		}
	}

	&__text {
		display: inline-block;
		width: 55px;
		font-size: 2.5rem;
		margin-left: -20px;
	}

	&__icon {
		width: 96px;
		height: 96px;
		margin-left: -10px;
	}

	&__video {
		z-index: 8;
	}
}

.main {
	position: relative;
	top: var(--fs-wrapper-top);
	background-color: dimgrey;
	z-index: 10;
}

/**/
// MUSEUM LAYOUTS
/**/

:root {
	--angle1: 0deg;
	--angle2: 90deg;
	--angle3: 90deg;
	--angle4: 90deg;
}

.museum {
	&__wrapper {
		width: 2580px;
		height: 1080px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.939815);
		overflow: hidden;
	}

	&__inner {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		transform-origin: center 66.66%;
		overflow: hidden;
	}

	&__background img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	// &__doors {}

	&__door {
		& {
			position: absolute;
			top: 0px;
			left: 0px;
			transform-origin: center center;
			perspective-origin: center center;
			transform-style: preserve-3d;
		}

		&--1 {
			transform: perspective(2000px) translateZ(2000px) rotateY(var(--angle1))
				translateZ(-2000px);
		}

		&--2 {
			transform: perspective(2000px) translateZ(2000px) rotateY(var(--angle2))
				translateZ(-2000px);
		}

		&--3 {
			transform: perspective(2000px) translateZ(2000px) rotateY(var(--angle3))
				translateZ(-2000px);
		}

		&--4 {
			transform: perspective(2000px) translateZ(2000px) rotateY(var(--angle4))
				translateZ(-2000px);
		}
	}
}
