@import "../utils/_breakpoints.scss";

.footer {
	& {
		display: flex;
		width: 100%;
		height: 500px;

		padding-top: 50px;

		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		flex-direction: row;
		flex-wrap: wrap;

		transition: 0.7s ease all;
		background-color: rgb(223 222 220/1);
		color: rgb(80 80 80/1);
		overflow: hidden;
		overflow-y: scroll;
		z-index: 2;

		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
	}

	&__information,
	&__navigation,
	&__socials {
		display: inline-block;
		height: calc(100% + 50px);
		padding-top: 50px;
		scroll-snap-align: end;

		@include use-tablet {
			height: 100%;
			padding-top: 0;
		}
	}

	&__information {
		width: 100%;

		@include use-tablet {
			width: 50%;
		}
	}

	&__navigation,
	&__socials {
		width: 100%;

		@include use-tablet {
			width: 25%;
		}
	}
}
.footer .information {
	background-color: blue;
}

.footer .socials {
	background: gray;
}

// TODO : extract to `navigation layouts`;
.footer .navigation {
	&,
	&__list,
	&__item,
	&__link,
	&__text {
		padding: 0;
		margin: 0;
	}

	&,
	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		place-items: center;
		place-content: center;
	}

	&__list {
		list-style: none;
		width: 100%;
		height: 100%;
	}

	&__item {
		display: flex;
		width: 100%;
		height: 3.7rem;

		font-size: 1.785rem;
		line-height: 0.5rem;
		letter-spacing: -0.075rem;

		place-items: center;
		place-content: center;
	}

	&__link {
		display: flex;
		width: 100%;
		height: 100%;

		padding: 1rem 0;

		place-items: center;
		place-content: flex-start;

		color: inherit;
		user-select: none;
		touch-action: auto;
		pointer-events: fill;
		cursor: pointer;
		text-decoration: none;
	}

	&__text {
		display: inline-block;
	}
}
