@import "../utils/_breakpoints.scss";

.footer {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 500px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(223 222 220/1);
	color: rgb(80 80 80/1);
	transition: 0.7s ease all;
	z-index: 2;

	// transform: scale(0.8);

	&--visible {
		opacity: 1;
		transform: scale(1);
	}
}

.navigation {
	&--footer {
		// TODO : remove absolute;
		position: absolute;
		top: 50px;
		// TODO : remove left;
		left: 0;
		bottom: 0;
		display: flex;
		// FIXME : use min width and flex;
		width: 100%;

		@include use-laptop {
			left: 50%;
			width: 50%;
		}
		height: calc(100% - 50px);
	}

	&--footer &__list {
		font-size: 1rem !important;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		place-content: center;
		place-items: center;
		justify-content: center;
		gap: 0px;
		background-color: inherit;

		height: 100%;
		width: 100%;
		padding: 16px 64px;
	}

	&--footer &__item {
		display: flex;
		place-content: center;
		place-items: center;
		height: 42px;
	}

	&--footer &__link {
		display: flex;
		place-items: center;
		width: 100%;
		height: 100%;
		transition: 0.3s ease all;

		&:hover {
			color: gold;
		}
	}

	&--footer &__text {
		font-size: 1.2rem;
	}
}
