@import "../utils/_breakpoints.scss";

.header {
	& {
		display: grid;
		grid-template-columns: minmax(150px, 600px) 1fr minmax(64px, 400px);
		grid-template-rows: 88px;

		width: 100%;
		height: 88px;

		place-items: center;
		place-content: center;

		position: fixed;
		left: 0;
		right: 0;

		transition: 0.5s 0.2s ease all;
		z-index: 999;

		top: -100%;
		opacity: 0;
	}

	&--visible {
		top: 0;
		opacity: 1;
	}

	&--blurred {
		background: rgba(80, 80, 80, 0.4);
		backdrop-filter: blur(8px);
	}

	&__brand,
	&__hamburger {
		width: 100%;
		height: 100%;
	}

	&__brand {
		grid-column: 1 / 2;
	}

	&__hamburger {
		grid-column: 3 / 4;
	}
}

.brand {
	display: inline-flex;
	place-items: center;
	place-content: center;

	&__logo {
		fill: white;
	}
}

.hamburger {
	& {
		border: 0;
		outline: 0;
		stroke: none;
		box-shadow: none;
		background: transparent;
		padding: 0;
		margin: 0;
	}

	& {
		display: flex;
		place-items: center;
		place-content: center;
	}

	&__icon {
		display: inline-block;
		width: 36px;
		height: 36px;
		margin-top: -10px;
	}
}
