@import "../utils/_breakpoints.scss";

.header {
	--svg-height: 1.3125rem;

	& {
		display: flex;

		flex-direction: row;
		place-items: center;
		place-content: space-between;

		position: fixed;
		left: 0;
		right: 0;

		transition: 0.5s 0.2s ease all;
		z-index: 99999;

		color: white;
		stroke: white;
		fill: white;

		top: 0;
		opacity: 1;
		background: rgba(0, 0, 0, 0.4);
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);

		padding: 0 1.09375rem;
		height: 3.5rem;
		width: calc(var(--view-width, 1vw) * 100);
		margin: 0 auto;
	}
}

.brand {
	& {
		position: relative;
		display: inline-flex;
		place-items: center;
		place-content: center;
	}

	&__link {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;

		opacity: 0;
		cursor: pointer;
		z-index: 7;
	}

	&__logo {
		height: var(--svg-height);
		z-index: 6;
	}
}

.hamburger {
	& {
		border: 0;
		outline: 0;
		stroke: inherit;
		box-shadow: none;
		background: transparent;
		padding: 0;
		margin: 0;

		-webkit-tap-highlight-color: transparent;
		user-select: none;
		touch-action: auto;
		pointer-events: fill;
		cursor: pointer;
	}

	& {
		width: var(--svg-height);
		height: var(--svg-height);
	}

	&__icon {
		display: inline-block;
		width: var(--svg-height);
		height: var(--svg-height);
	}
}
