.section {
	&--hero video {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		height: 100%;
		z-index: 1;
	}

	&--cover img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
	}

	&--explode video {
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&--tagline video {
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}
}

.main {
	position: relative;
	// border-bottom-left-radius: 54px;
	// border-bottom-right-radius: 54px;
	background-color: dimgrey;
	z-index: 10;
}
