@import "../utils/_breakpoints.scss";

.section {
	&--hero,
	&--cover,
	&--explode,
	&--tagline {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		place-items: center;
		place-content: center;

		& > img,
		& > video {
			height: 100%;
		}
	}
}

.solutions,
.blog {
	& {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		place-items: center;
		place-content: center;

		background: linear-gradient(225deg, gray, rgba(black, 50%));
	}

	&__header {
		display: flex;
		min-width: 250px;
		width: 60%;

		flex-direction: column;
		flex-wrap: wrap;

		place-items: flex-start;
		place-content: center;
		row-gap: 1rem;

		line-height: 1.35;
	}

	&__subtitle {
		font-size: viewSize(3.3);
	}

	&__title {
		font-size: viewSize(6);
	}
}

.story {
	& {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		place-items: center;
		place-content: flex-start;
	}

	&__header {
		display: flex;
		min-width: 350px;
		width: 100%;
		@include use-breakpoint(376px) {
			width: 80%;
		}

		@include use-desktop {
			width: 50%;
		}

		height: 100%;

		flex-direction: column;
		flex-wrap: wrap;

		place-items: flex-start;
		place-content: center;

		// background-color: rgba(black, 14%);
		// backdrop-filter: blur(4px);

		z-index: 5;
	}

	&__title {
		color: white;
		font-size: viewSize(6);
	}

	&__cover {
		height: 100%;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.main {
	position: relative;
	background-color: dimgrey;
	z-index: 10;
}
