.loading {
	& {
		display: flex;
		width: 100vw;
		max-width: 100vw;
		height: 100vh;

		padding: 0;
		margin: 0;

		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		background: white;
		z-index: 999999;
	}

	& {
		place-items: center;
		place-content: center;
	}

	&--active {
		display: flex;
	}

	&--inactive {
		display: none;
	}
}
