.hero__video {
	display: inline-grid;
	place-content: center;
	place-items: center;

	& video {
		height: viewHeight(100);
		object-fit: cover;
	}
}

.main {
	position: relative;
	// transition: 0.7s ease all;
	z-index: 10;
}
